doctype html
html
    include app/head
    body
        script.
            window.host = window.location.hostname != 'localhost:3000' ? 'weathersol.herokuapp.com/' : 'localhost:3000';
        #container
            block content





