extends ../layouts/widget
block content
    script.
        var weather = {
            days: !{weather},
            day_temperature_bg: function() {
                return (this.day.temperature % 2 == 0) ? this.day.temperature : this.day.temperature - 1;
            },
            night_temperature_bg: function() {
                return (this.night.temperature % 2 == 0) ? this.night.temperature : this.night.temperature - 1;
            },
            date_day: function(){
                var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ'];
                var day = new Date(this.date).getDay();
                return days[day];
            }
        };
        var need_days = #{days_type};
        weather.days.splice(need_days-1,weather.days.length-need_days);

    #result_widget(class="direction_#{direction_type}")
        script#tpl_widget(type="text/html").
            <ul>
            {{#days}}
                <li>
                    <div class="top p_block">{{date_day}}</div>
                    <div class="middle bg_{{day_temperature_bg}} p_block">
                        <img alt="{{day.weather_type}}" title="{{day.weather_type}}" src="//yandex.st/weather/1.2.1/i/icons/30x30/{{day.image}}.png" width="30" height="30"/>
                        <div class="tday">{{day.temperature}}</div>
                    </div>
                    <div class="bottom bg_{{night_temperature_bg}} tnight p_block">{{night.temperature}}</div>
                </li>
            {{/days}}
            </ul>

    script.
        var html = Mustache.render(document.getElementById('tpl_widget').innerHTML, weather);
        document.getElementById('result_widget').innerHTML = html;