head
    meta(charset='utf-8')
    title Weather app
    link(rel="stylesheet", href="/stylesheets/app.css")

    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')

    script(type='text/javascript',src='/javascripts/app.js')
    script(type='text/javascript',src='/javascripts/script.js')